<h1> HOME PAGE</h1>


<h2><%= link_to "Creator Roles", api_rawg_creator_roles_path %></h2>
<h2><%= link_to "Developers", api_rawg_developers_path %></h2>
<h2><%= link_to "Games", api_rawg_games_path %></h2>
<h2><%= link_to "Genres", api_rawg_genres_path %></h2>
<h2><%= link_to "Platforms", api_rawg_platforms_path %></h2>
<h2><%= link_to "Parents Platforms", api_rawg_platforms_lists_parents_path %></h2>
<h2><%= link_to "Publishers", api_rawg_publishers_path %></h2>
<h2><%= link_to "Stores", api_rawg_stores_path %></h2>