<div class = 'header'>
  <h1> RAWG </h1>
</div>
<div class="container">
  <div class="row row-cols-2">
  <div class="col">
    <h2><button type="button" class="btn btn-primary"><%= link_to "Creator Roles", api_rawg_creator_roles_path %></button></h2>
    <h2><button type="button" class="btn btn-primary"><%= link_to "Developers", api_rawg_developers_path %></button></h2>
    <h2><button type="button" class="btn btn-primary"><%= link_to "Games", api_rawg_games_path %></button></h2>
    <h2><button type="button" class="btn btn-primary"><%= link_to "Genres", api_rawg_genres_path %></button></h2> 
    <h2><button type="button" class="btn btn-primary"><%= link_to "Platforms", api_rawg_platforms_path %></button></h2>
    <h2><button type="button" class="btn btn-primary"><%= link_to "Parent Platforms", api_rawg_platforms_lists_parents_path %></button></h2>
    <h2><button type="button" class="btn btn-primary"><%= link_to "Publishers", api_rawg_publishers_path %></button></h2>
    <h2><button type="button" class="btn btn-primary"><%= link_to "Stores", api_rawg_stores_path %></button></h2>
    <h2><button type="button" class="btn btn-primary"><%= link_to "Tags", api_rawg_tags_path %></button></h2>
  </div>
  </div>
</div>
